*{
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(#e6e6e6, #c9c9c9) fixed;
}
img{
  width: 100%;
}
.header{
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 5px rgba(50,50,50,0.5);
  background: linear-gradient(45deg, #3b4580, #303869) fixed;
}
.header_list{
  display: flex;
  height: 45px;
  justify-content: center;
}
.header_list li{
  text-align: center;
  width: 200px;
  margin-right: 12.5px;
  list-style: none;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.header_list li:hover{
  background-color: #252b52;
}
.header_list li a{
  color: #dddddd;
  text-decoration: none;
  display: block;
  line-height: 45px;
  font-size: 20px;
  height: 45px;
}
img.logo{
  height: 45px;
}
.body{
  line-height: 1.75;
  color: #202020;
  width: 90%;
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  background-color: #f0f0f0;
  padding: 55px 30px;
}
.contents{
  width: 75%;
  float: left;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
}
.side{
  width: 25%;
  float: left;
  padding: 20px 0px 20px 20px;
  box-sizing: border-box;
}
.side ul{
  list-style: none;
}
.side ul li{
  border-bottom: solid 1px #aaaaaa;
  display: block;
}
.side ul li a{
  transition-property: border,background-color;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 5px;
  color: #202020;
  display: block;
}
.side ul li a:hover{
  border-left: solid 10px #40803b;
  background-color: #dedede;
}
.footer{
  border-top: solid 1px #cccccc;
  padding-top: 15px;
  clear: both;
  text-align: center;
}
h1{
  border-top: solid 3px #3b4580;
  border-bottom: solid 3px #3b4580;
  margin-bottom: 15px;
  padding: 5px 15px;
}
h2{
  border-left: solid 15px #15a7a4;
  border-bottom: solid 2px #15a7a4;
  margin-bottom: 10px;
  padding: 10px;
}
h3{
  border-bottom: solid 2px #2b2b2b;
  margin-bottom: 10px;
  padding: 5px 25px;
}
p{
  margin-bottom: 10px;
}
blockquote{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 2px #c9c9c9;
  border-left: solid 15px #c9c9c9;
  margin: 10px 0px;
}
blockquote::before{
  font-family: Material Icons;
  content: "format_quote";
  font-size: 2em;
  color: #c9c9c9;
}
.info{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 2px #3b4580;
  border-left: solid 15px #3b4580;
  margin: 10px 0px;
}
.info::before{
  font-family: Material Icons;
  content: "info_outline";
  font-size: 2em;
}
.att{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 2px #ff3626;
  border-left: solid 15px #ff3626;
  margin: 10px 0px;
  color: #ff3626;
}
.att::before{
  font-family: Material Icons;
  content: "warning_outline";
  font-size: 2em;
}
.down{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 2px #e45e00;
  border-left: solid 15px #e45e00;
  margin: 10px 0px;
  color: #e45e00;
}
.down::before{
  font-family: Material Icons;
  content: "download";
  font-size: 2em;
}
.down::after{
  content: "◆注意書きを事前にご確認の上ダウンロードしてください。tan-10 / Tangent LABは責任を負いかねます。";
}
.down .button{
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10vw;
  border: solid 1px #e45e00;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.down .button:hover{
  background-color: #e45e00;
}
.down .button a{
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #e45e00;
  display: block;
}
.down .button a:hover{
  color: #f0f0f0;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th{
  border-bottom: solid 2px #3b4580;
  font-size: 1.1em;
  padding: 10px;
  width: 30%;
}
td{
  border-bottom: solid 1px #3b4580;
  padding: 10px;
}
span.icon{
  font-family: Material Icons;
  margin-right: 5px;
  display: block;
  float: left;
}
img.icon{
  width: 100px;
}
.transparent{
  color: #ffffff00;
}
