@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
@font-face {
   font-family: GenShin;
   src: url('GENSHINGOTHIC-REGULAR.TTF') format("TrueType");
}
@font-face {
  font-family: CoPo;
  src: url('Corporate_Logo_Bold.ttf') format("TrueType");
}
body{
  font-family: "GenShin","メイリオ",sans-serif;
  background-color: #f2f2f2;
}
.copo{
  font-family: "CoPo","GenShin","メイリオ",sans-serif;
}
p.copo{
  font-family: "CoPo","GenShin","メイリオ",sans-serif;
}
.header{
  width: 100%;
  list-style: none;
  background-color: #5c5c5c;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  position: fixed;
  padding-left: 20px;
  z-index: 9999;
}
.header li a{
  text-decoration: none;
  display: block;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2) inset;
}
.header li.logo a{
  font-size: x-large;
}
.header li{
  height: 50px;
  width: 200px;
  text-align: center;
  float: left;
  line-height: 50px;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.header li.logo{
  width: 300px;
  background-color: #db8600;
}
.header li.sp{
  line-height: 25px;
}
.header li.right{
  float: right;
  margin-right: 50px;
}
.header li:hover{
  background-color: #db8600;
}
.header li.logo:hover{
  background-color: #e4a139;
}
.header li.right:hover{
  background-color: #00a380;
}
hr.space{
  padding-bottom: 50px;
  border: none;
}
hr.space-sp{
  padding-bottom: 0px;
  border: none;
}
hr.float{
  clear: both;
}
hr{
  padding-bottom: 10px;
  border: none;
}
hr.copy{
  border-top: 1px solid #8c8b8b;
}
.in-body{
  margin:0 auto;
  width: 85%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
img.top{
  width: 100%;
}
.text{
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
h1{
  font-size: 150%;
  margin-top: 0px;
  padding: 10px 20px;
  background: #ffd6a1;
  border-left: solid 10px #cf7400;
  margin-bottom: 10px;
}
h1.news{
  margin-top: 0px;
  font-size: 150%;
  padding: 10px 20px;
  background: #ffeeee;
  border-left: solid 20px #ff0000;
  border-right: solid 20px #ff0000;
  margin-bottom: 10px;
  text-align: center;
}
h2{
  font-size: 115%;
  margin-top: 10px;
  padding: 10px 30px;
  background: #ffd6a1;
  border-bottom: solid 3px #cf7400;
  margin-bottom: 10px;
}
h2.side{
  font-size: 115%;
  padding: 10px 30px;
  background: #ffd6a1;
  border-bottom: solid 3px #cf7400;
  margin-bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
}
h3{
  padding: 5px 30px;
  margin: 10px 300px 10px 0px;
  border-bottom: solid 3px #cf7400;
}

.side-menu{
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding: 0px 10px 10px 10px;
  list-style: none;
  text-align: center;
}
.side-menu li{
  height: 50px;
  border: solid 1px #000;
  transition-property: background-color;
  transition-duration: 0.3s;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
}
.side-menu li:hover{
  background-color: #c4c4c4;
}
.side-menu li.sougo:hover{
  background-color: #a9bef5;
}
.side-menu li a{
  display: block;
  line-height: 50px;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.side-menu li.sougo a{
  line-height: 25px;
  color: #000;
}
.copy{
  clear: both;
  text-align: center;
}
.box{
  position: relative;
  box-sizing: border-box;
  width: calc(100% / 3.2);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 5px;
  float: left;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
  border: solid 2px #dddddd;
  transition-property: background-color,border;
  transition-duration: 0.3s;
}
.box:hover{
  background-color: #dddddd;
  border: solid 2px #aaaaaa;
}
.box.none:hover{
  background-color: #ffffff;
  border: solid 2px #dddddd;
}
.box a.link{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
.big{
  font-size: 115%;
}
.material-icons.icobig{
  font-size: 48px;
}
